body {
    background: rgb(224,126,5);
    background: linear-gradient(90deg, rgba(224,126,5,1) 0%, rgba(249,125,0,1) 51%, rgba(235,113,25,0.9136029411764706) 87%, rgba(232,169,41,1) 100%);
}

table {
     
    margin-top: 20px;
    display: inline-block;
   
    
}
 
 td , input {
    border: 2px solid black;
    padding: 2px;
    color: white;

}

th {
    border: 2px solid black;
    padding: 2px;
    font-size: 20px;
    color: green;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}

body {
    text-align: center;
  
}
h1 {
    color: rgb(21, 194, 224);
    font-family: impact;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

 
}

#h1voeg {
    position: relative;
    right: 50px;
}
p {
    color: white;
}
 
div {
    display: inline-block;
}
 
#add {
    display: inline-block;
    padding: 10px 20px;
    background: orange;
    box-shadow: -3px 3px black, -2px 2px black, -1px 1px black;
    border: 1px solid orange;

}

#add:hover {
    background: green;
    color: white;
}

input[type="text"], input[type="number"] {
    background-color: skyblue;
}

input[type="number"]:hover {
    background-color: black;
  }

#totaal {
    border: 2px solid #FFB000;
    background-color: #282828;
    padding: 5px;
    color: skyblue;
    position: relative;
    top: 50px;
    right: 350px;
    
}

#totaal:hover{
    background-color: green;
    color: white;
}
/* Navbar */

#navbar {
    border: solid black 2px;
    position: relative;
    top:250px;
    right: 800px;
}

#navbar2 {
    position: relative;
    top:400px;
    border: solid black 2px;
}



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
  }

 
  
  li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  li a.active {
    background-color: skyblue;
    color: black;
  }
  
  li a:hover:not(.active) {
    background-color: #555;
    color: white;
  }

